{% load static %}



<nav class="navbar navbar-expand-xl navbar-light bg-white shadow-sm sticky-top">
    <div class="container-fluid px-3">
        <!-- Logo & Title Component -->
        <div class="navbar-brand d-flex align-items-center me-4">
            <i class="fas fa-shopping-bag text-primary me-2" style="font-size: 1.8rem;"></i>
            <span class="text-primary">Hospital</span>
        </div>

        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Navigation Links Component -->
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'login' %}text-muted {% else %} text-dark {% endif %}" href="{% url 'login' %}">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">About</a>
                </li>
            </ul>

            <!-- Auth Buttons Component -->
            <div class="d-flex align-items-center">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            Hii, {{ user.first_name|truncatechars:10 |default:'Anonymous'}}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if user.user_type == 'patient' %}
                            <li><a class="dropdown-item" href='{% url "patient_dashboard" %}'>Dashboard</a></li>
                            {% elif user.user_type == 'doctor' %}
                            <li><a class="dropdown-item" href='{% url "doctor_dashboard" %}'>Dashboard</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href='{% url "signout" %}'>Sign out</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href='{% url "login" %}' class="btn btn-outline-primary btn-sm btn-auth me-2">Login</a>
                    <a href='{% url "signup" %}' class="btn btn-primary btn-sm btn-auth">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
    